* {
  margin: 0;
  padding: 0;
}
.bed {
  height: 88vh;
  width: 100%;
  background-image: url("img/Cont.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  letter-spacing: 3px;
}
.nav {
  padding: 2% 4%;
}
.nav-text {
  width: 33%;
}
.text {
  padding: 0 12px;
}
a {
  text-decoration: none;
  color: black;
}
.home {
  color: #7c6a46;
}
.book-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 45px;
  top: 32px;
  margin-top: -10px;
  background: #7c6a46;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.admin{
  display: none;
}
/* Корзина */
.basket-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.basket-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.basket-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}
.bookingRoom{
  
    color: #5a4b2e;
  
  display: flex;
  justify-content: space-between;
  margin: 2% 0px;
  border-bottom: 1px solid rgba(51, 38, 23, 0.623);
  align-items: center;
}
.dateBooking{
  display: flex;
flex-direction: column;
 
}
.nameRoom{
  color: #5a4b2e;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

}
.dateBooking div{
  display: flex;
  flex-direction: row; justify-content: space-between;
}
.dateB{
  color: black;
}
.notice{
  background-color: rgb(180, 48, 48);
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 9px;
  color: #ffffff;
  letter-spacing: 1px;
}